In [10]:
import psycopg2
import yaml
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

**1. Ocupa la función get_db_conn() a través de la cuál obtenemos una conexión a la BD (postgres) con psycopg2 leyendo del archivo credentials.yaml (utilizando la función read_yaml()) las credenciales de acceso a la BD.**

In [18]:
def get_db_conn(cred):
    read_yaml(cred)
db_conn = get_db_conn("conf\\credentials.yaml")

NameError: name 'read_yaml' is not defined

**2. Genera un query sql en donde obtengas el id_estacion, nombre, longitud, latitud, regular, preimum, diesel de todos los precios. <- Necesitarás un inner join.**

In [35]:
query="SELECT e.id_estacion, e.nombre, e.longitud, e.latitud, p.regular, p.premium, p.diesel FROM raw.estaciones e INNER JOIN raw.precios p on e.id_estacion = p.estacion_servicio;"
data = pd.read_sql(query, db_conn)

NameError: name 'db_conn' is not defined

**En vista de que no me puedo conectar a la base de datos de postgres lo hare a manita**

In [27]:
precios=pd.read_csv("precios.csv")
estaciones=pd.read_csv("estaciones.csv")
print(estaciones.head())
print(precios.head())

   id_estacion                                    nombre   latitud   longitud
0        23062              servicios plazas ap sa de cv  19.27859  -99.54836
1        20769                humberto de la cruz murias  16.68978  -93.71970
2        23063  servicios ecologicos mar caribe sa de cv  21.16699  -86.84862
3        23064             super servicio toloxasa de cv  19.04457  -98.37003
4        23065                   topgas j ortiz sa de cv  21.02812 -101.86280
   estacion_servicio  regular  premium  diesel
0               8775    19.97    22.47     NaN
1               8831    20.69    21.76   21.70
2              26541    15.89      NaN   19.09
3               3348    20.49    22.19     NaN
4               3969    20.76    22.57   22.77

In [22]:
data=pd.merge(precios,estaciones,left_on='estacion_servicio',right_on='id_estacion')
data

,estacion_servicio,regular,premium,diesel,id_estacion,nombre,latitud,longitud
0,8775,19.97,22.47,NaN,8775,servicio automotriz xolasa de cv,19.39430,-99.14134
1,8831,20.69,21.76,21.70,8831,operadora la sabana sa de cv,16.83010,-99.75737
2,26541,15.89,NaN,19.09,26541,combustibles de orientesa de cv,26.07270,-98.29295
3,3348,20.49,22.19,NaN,3348,gasolineria valencianasa de cv,19.47174,-99.05446
4,3969,20.76,22.57,22.77,3969,comercializadora nandalumi sa de cv,16.77555,-93.10127
...,...,...,...,...,...,...,...,...
12649,11896,20.99,22.99,21.99,11896,gasolinera pirekua sa de cv,19.49753,-101.60020
12650,11897,20.74,22.90,NaN,11897,servicio norte 45 sa de cv,19.49570,-99.15932
12651,11898,19.59,21.99,NaN,11898,servicio lutronsa de cv,19.54331,-99.02317
12652,14539,19.81,20.80,20.10,14539,autoservicio anvales sa de cv,28.59577,-105.99860
12653,14580,19.99,22.89,NaN,14580,servicios gasolineros de mexicosa de cv,21.88589,-102.31300